<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @host.ip %>
</p>

<p>
  <strong>Aton:</strong>
  <%= @host.aton %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
