<h1>Editing user</h1>

<%= turbo_frame_tag @user do %>
  <%= render "form", user: @user %>
  <div>
    <%= link_to "Show this user", @user %>
  </div>
<% end %>

<div>
  <%= link_to "Show this user", @user %>
  <%= link_to "Back to users", users_path %>
</div>
