<h1>Books#index</h1>

<table>
  <thead>
    <tr>
      <th>variable</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@old_title</td>
      <td><%= @old_title %></td>
    </tr>
    <tr>
      <td>@new_title</td>
      <td><%= @new_title %></td>
    </tr>
    <tr>
      <td>@old_author_name</td>
      <td><%= @old_author_name %></td>
    </tr>
    <tr>
      <td>@reloaded_author_name</td>
      <td><%= @reloaded_author_name %></td>
    </tr>
    <tr>
      <td>@new_author_name</td>
      <td><%= @new_author_name %></td>
    </tr>
    <tr>
      <td>@old_editions</td>
      <td><%= @old_editions %></td>
    </tr>
    <tr>
      <td>@new_editions</td>
      <td><%= @new_editions %></td>
    </tr>
  </tbody>
</table>
