<p id="notice"><%= notice %></p>

<h1>English Scores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Reading</th>
      <th>Writing</th>
      <th>Speaking</th>
      <th>Listening</th>
      <th>Passed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @english_scores.each do |english_score| %>
      <tr>
        <td><%= english_score.name %></td>
        <td><%= english_score.reading %></td>
        <td><%= english_score.writing %></td>
        <td><%= english_score.speaking %></td>
        <td><%= english_score.listening %></td>
        <td><%= english_score.passed %></td>
        <td><%= link_to 'Show', english_score %></td>
        <td><%= link_to 'Edit', edit_english_score_path(english_score) %></td>
        <td><%= link_to 'Destroy', english_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New English Score', new_english_score_path %>
